:root {
  --main-color: #00203f;
  --accent-color: #adefd1;
  --frame-color: #f2f2f2;
  --frame-darked-color: #e6e6e6;
  --bg-color: #ffffff;
  --white-color: #ffffff;
  --dark-color: #041627;

  --grey-color: #a0a0a0;

  --expense-color: #e35151;
  --income-color: #28a61c;

  --red-color: #ec4d4d;
  --red-fade-color: #e56f6f53;
  --link-color: #3b67a9;
}
